@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  .container {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    header {
      margin-bottom: 20px;
    }

    main {

      .my-list-item {
        width: 80vw;
        display: flex;
        padding: 10px;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;

        .title {
          font-size: 20px;
        }
        .subtitle {
          color: #999;
        }

        button {
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }

    footer {
      margin-top: 20px;

      button {
        cursor: pointer;
      }
    }
  }

}
